body, h1, h2, p, ul, li, a {
   margin: 0px;
   padding: 0px;
}

body {
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222222;
}

ul {
    list-style: none;
    
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

/* Super Info */

.superinfo-bg {
    background: #122ab2;
    color: #fff;
}

.superinfo {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.superinfo p, .superinfo a{
    margin: 0 10px 10px 10px;
}

.superinfo a {
    color: #fff;
}

/* Menu */

.menu-bg {
    background: #2c70ff;
}

.menu {
    max-width: 960px; /* Tamanho Máximo do Container */
    margin: 0 auto;  /* Centralizando Itens no Container */
    padding: 15px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: #fff;
}

.menu-logo a { 
    font-size: 2.25em; /* 36px / 6 = 2.25*/
    font-weight: bold;
    margin: 0 10px; /* Distância mínima entre itens (gutter) */
}

.menu-nav ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-nav a {
    font-size: 1.25em;
    display: block;
    padding: 10px;
}

.menu-nav a:hover {
    color: #122ab2;
}

/* Introdução */

.introducao {
    font-size: 3em;
    line-height: 1;
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 10px;
}

.introducao span {
    display: block;
}

/* Sobre */

.sobre {
    max-width: 960px;
    margin: 0 auto;
    border-top: 2px solid #2c70ff;
    border-bottom: 2px solid #2c70ff;
    padding: 60px 0;
    display: flex;
    flex-wrap: wrap; /* Define que os itens dentro de sobre quebrem */
}

.sobre-info{
    flex: 2 1 300px; /* Faz com que ocupe duas vezes mais que as imagens, e que quebre quando não tiver no minimo 300px */
    margin: 0 10px;
   
}

.sobre-info h1{
    font-size: 3em;
    margin-bottom: .5em;
}

.sobre-info p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: #7c7c7c;
}

.sobre-img{
    flex: 1 1 160px; /* Faz com que as imagens quebrem quando nao tiverem mais no minimo 160px */
    margin: 0 10px;
}
